<div id="login">
  Login
  <%= form_for @user, {url: '/auths', method:"post"} do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <%= f.label :password %>
    <%= f.text_field :password %><br />
    <%= f.submit "Login" %>
  <% end %>
</div>