<%= form_for current_user do |f| %>
  First Name: <%= f.text_field :first_name %><br />
  Last Name: <%= f.text_field :last_name %><br />
  Email: <%= f.text_field :email %><br />
  City, State: <%= f.text_field :location %><br />
  Date of Birth: <%= f.date_field :date_of_birth %><br />
  Password <%= f.password_field :password %><br />
  Confirm Passowrd <%= f.password_field :password_confirmation %><br />
  <%= f.submit %>  <button class="form_button"><%= link_to "Delete Account", user_path(current_user), method: "delete" %></button>

<% end %>